input, select, button {
    margin-bottom: 10px;
    height: 30px;
    font-family: Roboto, sans-serif;
}

.button-cta {
    background-color: #1976d2;
    border: 0;
    border-radius: 21px;
    color: white;
    cursor: pointer;
    font-family: "Google Sans Text", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 27px;
    padding: 3.5px 10.5px;
}

button {
    background-color:  var(--trim-color); /* Vibrant blue for button */
    color: white;
    border: 0;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:  #096bd3; /* Darker shade of blue on hover */
}
