:root {
    --background-color: #ffffff;
    --text-color: #000000;
    --button-color: #007bff;
    --button-text-color: #ffffff;
}

[data-theme="dark"] {
    --background-color: #363537;
    --text-color: #FAFAFA;
    --button-color: #6200EE;
    --button-text-color: #ffffff;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
}
